body {
  background: url(../resources/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#disponibilidad, #excluido{

	font-size: 30px;
}